#content {
    margin: 0 !important;
    padding: 0 !important;
}

#showcase {
    background-image: url(../images/background5.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar-inverse {
    background: rgb(34, 34, 34) !important;
}
