/*
Responsive Text Formula:
font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));
*/

body {
    font-family: 'Raleway', sans-serif !important;
    padding-left: 0 !important;
    /*overflow-x: hidden !important;*/
    /*padding-top: 50px; /*Remove to make showcase picture align with bottom of page*/
}

.wrapper {
    overflow-x: hidden;
}

h5 {
    font-weight: bolder;
}

textarea {
    resize: none;
}

label {
    font-size: 17px !important;
    font-weight: 300 !important;
}

#performances{
  background: url('../images/performances-wide.jpg') repeat;
  background-position: bottom;
  width: 100%;
  height: 400px;
  background-color: white;
  color: white;
  text-align: center;
}

#menu {
    background: url('../images/food-wide.jpg') repeat;
    background-position: bottom;
    width: 100%;
    height: 400px;
    background-color: white;
    color: white;
    text-align: center;
}

#content,
#footer {
    margin: 0 !important;
    padding: 0 !important;
}

#footer-info {
    background-color: rgb(31, 31, 31);
    color: white;
}

@media only screen and (min-width: 200px) {
    .text-container {
        width: 70%;
    }
    .parallax {
        background-image: url(../images/cafe.jpeg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }
    #main-text {
        font-weight: lighter;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .text-container {
        text-align: center;
        text-shadow: 3px 3px 5px rgba(48, 48, 48, 1);
    }
    .text-container>h1 {
        color: white;
        font-style: normal;
        font-weight: normal;
        font-size: calc(20px + (100 - 20) * ((100vw - 300px) / 1620));
    }
    .text-container>.intro-text {
        display: none;
        color: white;
        font-size: calc(20px + (40 - 20) * ((100vw - 300px) / 1620));
        font-weight: 300;
        padding-bottom: 4vh;
    }
    .text-container>hr {
        border: 0;
        clear: both;
        display: block;
        width: 100%;
        background-color: white;
        height: 2px;
    }
    .text-container>a {
        display: none;
        border: 2px solid white;
        border-radius: 3px;
        padding: 5px;
        color: white;
        font-weight: 500;
        text-decoration: none;
    }
    .text-container>a:hover {
        border: 2px solid lightgray;
        color: lightgray;
        text-decoration: none;
    }
    .text-container>a:active {
        text-decoration: none;
    }
    .scroll-indicator>.arrow {
        display: none;
        font-size: calc(20px + (45 - 20) * ((100vw - 300px) / 1620));
        font-weight: lighter;
        color: white;
    }
    .scroll-indicator>.arrow:hover {
        color: lightgray;
        cursor: pointer;
    }
    .scroll-indicator>.scroll-text {
        display: none;
        color: white;
        font-weight: 300;
        padding-top: 10vh;
        font-size: calc(20px + (40 - 20) * ((100vw - 300px) / 1620));
    }
    .scroll-indicator>.scroll-text:hover {
        color: lightgray;
        cursor: pointer;
    }
}

@media only screen and (min-width: 700px) {
    .text-container {
        width: 50%;
    }
    .parallax {
        background-image: url(../images/cafe.jpeg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }
    #main-text {
        font-weight: lighter;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .text-container {
        text-align: center;
        text-shadow: 3px 3px 5px rgba(48, 48, 48, 1);
    }
    .text-container>h1 {
        color: white;
        font-style: normal;
        font-weight: normal;
        font-size: calc(20px + (100 - 20) * ((100vw - 300px) / 1620));
    }
    .text-container>.intro-text {
        display: block;
        color: white;
        font-size: calc(20px + (40 - 20) * ((100vw - 300px) / 1620));
        font-weight: 300;
        padding-bottom: 4vh;
    }
    .text-container>hr {
        border: 0;
        clear: both;
        display: block;
        width: 100%;
        background-color: white;
        height: 2px;
    }
    .text-container>a {
        display: none;
        border: 2px solid white;
        border-radius: 3px;
        padding: 5px;
        color: white;
        font-weight: 500;
        text-decoration: none;
    }
    .text-container>a:hover {
        border: 2px solid lightgray;
        color: lightgray;
        text-decoration: none;
    }
    .text-container>a:active {
        text-decoration: none;
    }
    .scroll-indicator>.arrow {
        display: none;
        font-size: calc(20px + (45 - 20) * ((100vw - 300px) / 1620));
        font-weight: lighter;
        color: white;
    }
    .scroll-indicator>.arrow:hover {
        color: lightgray;
        cursor: pointer;
    }
    .scroll-indicator>.scroll-text {
        display: none;
        color: white;
        font-weight: 300;
        padding-top: 10vh;
        font-size: calc(20px + (40 - 20) * ((100vw - 300px) / 1620));
    }
    .scroll-indicator>.scroll-text:hover {
        color: lightgray;
        cursor: pointer;
    }
}

@media only screen and (min-width: 992px) {
    .navbar {
        padding-left: 15%;
        padding-right: 15%;
    }
    .text-container {
        width: 50%;
    }
}

.parallax-bottom {
    background-image: url(../images/cafe.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
}

#section-a>.jumbotron {
    background-color: white;
    padding: 0 !important;
}

#section-a h2 {
    font-weight: 200;
    font-size: 30px;
}

#section-a p {
    font-size: 20px;
}

#section-a .section-a-text-wrapper {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 15%;
    padding-right: 15%;
}

#section-a .section-a-img-wrapper {
    align-items: center;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

#section-b>.jumbotron {
    background-color: white;
}

#section-b h2 {
    font-weight: 200;
}

#section-c>.jumbotron {
    background-color: white;
}

#section-c h2 {
    font-weight: 200;
}

#section-c p {
    font-weight: 300;
}

#section-c hr {
    height: 1px;
    width: 70%;
    background-color: darkgray !important;
}

.jumbotron {
    border-radius: 0 !important;
    width: 100% !important;
    text-align: center;
    margin-bottom: 0 !important;
    height: 100% !important;
    padding-top: 3% !important;
    padding-bottom: 3% !important;
    padding-left: 15% !important;
    padding-right: 15% !important;
}

.ad-banner .jumbotron {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.row {
    padding: 0 !important;
}

#footer a {
    text-decoration: none;
    color: white;
}

#footer hr {
    height: 1px;
    background-color: white;
}

#footer p {
    font-size: 12px;
}

#footer .col-sm-4 hr {
    width: 30%;
}

.navbar-inverse {
    background: rgb(34, 34, 34) !important;
}

#jobs-text {
    background-color: white !important;
}

#jobs-text h2 {
    font-weight: 300;
}

#application-form {
    background-color: white !important;
}

#job-header h1 {
    font-size: 30px;
    font-weight: 300;
    display: block;
}

#application-fields h3 {
    font-weight: 200;
}

#application-fields h4 {
    font-weight: 200;
}

#application-fields {
    text-align: left;
}

.checkbox label,
.radio label {
    font-size: 16px;
    font-weight: 200 !important;
}

.carousel-indicators li {
    visibility: hidden;
}

.panel-heading.color-panel {
    background-color: rgb(34, 34, 34) !important;
}

.panel-footer {
    font-weight: 200;
}

#perform-jumbotron {
    padding: 0 !important;
}

#perform-font {
    font-weight: 200 !important;
}

#food-banner-wrapper {
    padding: 0 !important;
}

#free-incentives {
    background-color: white;
}

#free-incentives h2 {
    font-weight: 200 !important;
}

#advertisement-banner .jumbotron {
    background-image: url(../images/cafe.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
}

.remove-padding {
    padding-left: 0 !important;
    padding-right: 0  !important;
    margin-left: 0  !important;
    margin-right: 0  !important;
}
